<div class="m-4">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="--width-20">No.</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.canEdit">{{
          element.position
        }}</ng-container>
        <ng-container *ngIf="element.canEdit">
          <mat-form-field appearance="fill">
            <input readonly matInput required [(ngModel)]="position" />
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="--width-20">Name</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.canEdit">{{ element.name }}</ng-container>
        <ng-container *ngIf="element.canEdit">
          <mat-form-field appearance="fill">
            <input matInput required [(ngModel)]="name" />
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef class="--width-20">Weight</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.canEdit">{{
          element.weight
        }}</ng-container>
        <ng-container *ngIf="element.canEdit">
          <mat-form-field appearance="fill">
            <input matInput required [(ngModel)]="weight" />
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef class="--width-20">Symbol</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.canEdit">{{
          element.symbol
        }}</ng-container>
        <ng-container *ngIf="element.canEdit">
          <mat-form-field appearance="fill">
            <input matInput required [(ngModel)]="symbol" />
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="--width-20">Action</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.canSave">
          <button class="me-2" mat-icon-button (click)="addData()">
            <mat-icon>add</mat-icon>
          </button>
          <button class="me-2" mat-icon-button (click)="editData(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="me-2" mat-icon-button (click)="deleteData(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="element.canSave">
          <button class="me-2" mat-icon-button (click)="onSave(element)">
            <mat-icon class="material-symbols-outlined">check_circle</mat-icon>
          </button>
          <button class="me-2" mat-icon-button (click)="onCancel(element)">
            <mat-icon>cancel</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
